extends layout
block content
    h1.page-header Contact Us
    .col-md-6.m-b-lg
        .panel.panel-default.panel-profile
            .panel-heading(style='background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/134/assets/insta-3.jpg?3972412904476364835);')
            .panel-body.text-center
                img.panel-profile-img(src='//avatars0.githubusercontent.com/u/18084880?v=3&s=400')
                h5.panel-title Rajan Patel
                p.m-b Computer Engineer
                a.btn.btn-res.btn-primary-outline.btn-sm.m-b(href='//github.com/patelrajan41', target='_blank')
                    i.fa.fa-github(aria-hidden='true')  View on GitHub
    .col-md-6.m-b-lg
        .panel.panel-default.panel-profile
            .panel-heading(style='background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/134/assets/insta-2.jpg?3972412904476364835);')
            .panel-body.text-center
                img.panel-profile-img(src='//avatars2.githubusercontent.com/u/13793132?v=3&s=460')
                h5.panel-title Sarang Rajvansh
                p.m-b Computer Engineer
                a.btn.btn-res.btn-info-outline.btn-sm.m-b(href='//github.com/sarangraj', target='_blank')
                    i.fa.fa-github(aria-hidden='true')  View on GitHub
    