extends ../node_modules/pug-bootstrap/_bootstrap
append styles
  +bootswatch('darkly')
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" )
  link(rel="stylesheet",href="/stylesheets/style.css")    
block body
    div.container
        div.col-md-offset-4.col-lg-4
            div.panel.panel-primary.login-panel
                div.panel-heading
                    h1.panel-title.text-center Login panel
                div.panel-body
                    .col-md-12
                        form.form-horizontal(action="/login", method="POST")
                            div.form-group
                                label Username  
                                    i.fa.fa-user(aria-hidden='true') 
                                input.form-control(id="username", type="text", name="User", placeholder="Enter Your Username")
                            div.form-group
                                label Password  
                                    i.fa.fa-lock(aria-hidden='true')
                                input.form-control(id="password", type="password", name="Password", placeholder="Enter Your Password")
                            div.form-group
                                input.btn.btn-success.btn-block(type='submit', value="Log In")
                        if error
                                .alert.alert-danger.alert-dismissable!= error
                                    a.close(href='#', data-dismiss='alert', aria-label='close') &times;