extends layout
block content
    h1.page-header Add User 
            i.fa.fa-user-plus(aria-hidden='true')
    div.col-md-8
        form.form-horizontal(action="/user/create", method="POST")
            fieldset
                .form-group
                label.col-lg-4.control-label(for='inputEmail') Username 
                    i.fa.fa-user(aria-hidden='true')                
                .col-lg-8
                    input#inputEmail.form-control(type='text', name='name', placeholder='Enter Username')
                .form-group
                label.col-lg-4.control-label(for='inputExtention') Extention No 
                    i.fa.fa-tty(aria-hidden='true') 
                .col-lg-8
                    input#inputExtention.form-control(type='number', name='extension', placeholder='Extension Number')
                .form-group
                label.col-lg-4.control-label(for='inputPassword') Password 
                 i.fa.fa-lock(aria-hidden='true')                                                    
                .col-lg-8
                    input#inputPassword.form-control(type='password', name='secret', placeholder='Password')
                .col-lg-8.col-lg-offset-4
                    .checkbox
                    label
                        input(type='checkbox' name='confirm')
                        |  Confirm
                .form-group
                .col-lg-8.col-lg-offset-4
                    button.btn.btn-primary.col-sm-5(type='submit') Submit
                    button.btn.btn-warning.col-sm-offset-2.col-sm-5(type='reset') Reset
                .col-lg-10.col-lg-offset-2
                    if errors
                        br 
                        ul
                            for error in errors
                                li.text-danger!= error.msg
                                                     
                                 